@import url(./reset.css);

/* VARIÁVEIS */
:root {
  --cor-fundo: #BFD7E4;
  --cor-header: #293241;
  --cor-secundaria: #F67669;
  --cor-fundo-form: #FFFFFF;
  --cor-texto-input: #4E4958;
  --cor-texto-span: #C1BCCC;
  --cor-texto-legend: #253B51;
  --fonte-principal: 'Poppins', sans-serif;
  --fonte-titulos: 'Staatliches', cursive;
  font-size: 62.5%;
}

/* BODY */ 
body::before {
  content: '';
  width: 100%;
  height: 46.5rem;
  background-color: var(--cor-header);
  position: absolute;
  z-index: -1;
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-position: center center;
}

body {
  background-color: var(--cor-fundo);
  margin: auto;
  font-family: var(--fonte-principal);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* HEADER */ 
header {
  width: 100%;
  height: 46.5rem;
  /* margin-top: 9rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end
}

header h1 {
  font-family: var(--fonte-titulos);
  font-size: 3.6rem;
  line-height: 4.5rem;
  color: white;
}

header p {
  color: white;
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-bottom: 15rem;
}

.fieldset-title {
  background-color: var(--cor-secundaria);
  margin: 0 auto;
  font-size: 24px;
  line-height: 34px;
  color: white;
  padding: 5rem 27.5rem;
  width: 75rem;
  font-family: var(--fonte-titulos);
  margin-top: 2rem;
  border-radius: 2rem 2rem 0 0;
}

/* FORM */

#review-form {
  display: flex;
  flex-direction: column;
  background-color: var(--cor-fundo-form);
  width: 75rem;
  padding: 3.2rem 6.4rem;
  margin: 0 auto;
}

legend {
  font-family: var(--fonte-titulos);
  font-size: 2.4rem;
  line-height: 3.4rem;
  color: var(--cor-texto-legend);
  text-align: center;
  border-bottom: 1px solid #E6E6F0;
  margin-bottom: 3.2rem;
  width: 100%;
  padding-top: 1.5rem;
  padding-bottom: .8rem;
}

.input-wrapper {
  width: 100%;
  margin-bottom: 3rem;
}

.fullname .input-wrapper:nth-child(1),
.fullname .input-wrapper:nth-child(2) {
  margin-bottom: 1.9rem;
}

.input-wrapper label {
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-family: var(--fonte-principal);
  color: var(--cor-texto-input);
}

.input-wrapper label span {
  color: var(--cor-texto-span);
  font-size: 1.2rem;
  line-height: 2rem;
}

.input-wrapper input,
.input-wrapper textarea,
.input-wrapper select {
  background: #FAFAFC;
  border: 1px solid #E6E6F0;
  border-radius: .8rem;
  height: 5.5rem;
  margin-top: .8rem;
  font-size: 1.4rem;
  padding: 0 1.6rem;
  display: flex;
  width: 100%;
  color: var(--cor-texto-input);
}

input:focus,
textarea:focus,
select:focus {
  border: 2px solid var(--cor-secundaria);
  box-shadow: 0 0 3px var(--cor-secundaria);
  outline-offset: 0px;
  outline: none;
}

/* Mostra quando o valor digitado for inválido */
/* Removi para tentar descobrir como faço para só mostrar depois que o valor digitado é inválido */ 
/* input:invalid {
  border: 1px solid #FF1010;
} */

.fullname {
  display: flex;
  gap: 2.1rem;
}

.input-wrapper textarea {
  height: 17rem;
  padding: 1rem;
}

.input-wrapper select {
  appearance: none;
  -webkit-appearance: none;
  padding: 1.6rem
}

.input-wrapper select option {
  color: var(--cor-texto-input);
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}

/* Finalizar o select */


/* Checkbox */

.checkbox-wrapper {
  display: flex;
  position: relative; /* ajudando a resolver problema de acessibilidade */
}

.checkbox-wrapper input {
  /* display: none; */
  position: absolute;
  width: 2.4rem;
  height: 2.4rem;
  opacity: 0;
}

.checkbox-wrapper label::before {
  content: '';
  width: 2.4rem;
  height: 2.4rem;
  background: #FAFAFC;
  border: 1px solid #E6E6F0;
  border-radius: 8px;
}

/* quando caixinha tiver selecionada, incluir o tick no background do label::before */
.checkbox-wrapper input:checked + label::before {
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='14' viewBox='0 0 18 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 11.17L1.83 7L0.410004 8.41L6 14L18 2L16.59 0.589996L6 11.17Z' fill='%2342D3FF'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
}

/* Colocando outline quando o checkbox tiver selecionado */
.checkbox-wrapper input:focus + label::before {
  outline: 2px solid var(--cor-secundaria);
}

.checkbox-wrapper label {
  margin: 0;
  display: flex;
  align-items: center;
  gap: .8rem;
  font-size: 1.4rem;
  line-height: 2.4;
  color: #4E4958;
}

/* Data e hora */

.datetime-wrapper {
  display: flex;
  gap: 3.2rem;
}

.time-wrapper {
  display: flex;
  gap: 1rem;
}

.time-wrapper .input-wrapper {
  width: 14rem;
}

/* FOOTER */

footer {
  background-color: white;
  height: 17.5rem;
  width: 75rem;
  border-radius: 0 0 2rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30rem;
  padding: 0 6.4rem;
}

.button {
  width: 100%;
  height: 5rem;
  background: var(--cor-secundaria);
  border-radius: .8rem;
  border: 0;
  color: white;
  font-size: 2rem;
  line-height: 2.6rem;
  font-family: var(--fonte-titulos);
}

.button:hover {
  cursor: pointer;
  background-color: #f7604f;
  transform: .8s;
}